body{
    background-color: rgb(211, 211, 202);
}
@media (max-width:68.75em){
html{
font-size: 80%;
}
} 
@media (max-width:38.75em){
    html{
    font-size: 75%;
    }
    } 
/* @media (max-width:26.25em){
html{
font-size: 50%;
    }
    }  */
            
/* Navbar */
.navbar{
background-color: rgb(53, 45, 45);
}
.link{
    display: inline;
list-style: none !important;
margin-left: 5rem ;
font-size: 110%;
}
@media (max-width:28.75em){   
.link{
display: inline;
list-style: none !important;
margin-left: 4rem ;
font-size: 110%;
}
}
@media (max-width:26em){   
.link{
display: inline;
list-style: none !important;
margin-left: 3.5rem;
font-size: 110%;
}
}
@media (max-width:24.375em){   
.link{
display: inline;
list-style: none !important;
margin-left: 3rem;
font-size: 110%;
}
}
@media (max-width:22.5em){   
.link{
display: inline;
list-style: none !important;
margin-left: 2.5rem;
font-size: 110%;
}
}
@media (max-width:20.625em){   
.link{
display: inline;
list-style: none !important;
margin-left: 1.8rem;
font-size: 110%;
}
}
.links{
color: rgb(189, 176, 176) !important;
text-decoration: none;
}
.links:hover{
color: #fff !important;
}
@media (max-width:68.75em){
.links{
    color: rgb(189, 176, 176) !important;
    text-decoration: none;
font-size: 110%;    
}
}
.linkes{
    text-decoration: none !important;
/* margin-left: 29%; */
width: 39rem;
margin: auto;
margin-top: .5rem;
margin-bottom: .5rem;
}
 @media (max-width:26em){   
.linkes{
width: 39rem !important;
padding-top: .7rem ;
padding-bottom: .7rem;
}
}
/*
@media (max-width:26.25em){   
.linkes{
width: 39rem !important;
margin-left: -2.5rem !important;
}
} */
/* Nav */

.navbar-brand{
    margin-left: 420px !important;
}
.navbar-brand,.nav-link{
    padding-left: 50px !important;
}

/* Header */
.header{
    background-image: url(../images/4.jpg) !important;
    background-size: cover;
}

@media (max-width:38.75em){
.header{
background-image: url(../images/4.jpg) !important;
background-size: cover;
padding:5rem 0;
}
}
.jungle{
    font-size: 400%;
    color: white;
    text-align: center;
    padding-top: 11rem;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media (max-width:45em){
    .jungle{
    font-size: 400%;
    color: white;
    text-align: center;
    padding-top: 9rem;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    } 
.paragraph{
    font-size: 300%;
    color:white;
    text-align: center;
    margin: 0 .2rem;
    /* padding-top: 0%; */
    text-transform: capitalize;
}
.button{
    margin-left: 40%;
    font-size: 150%;
    margin-top: 3%;
    padding: 1% 5%;
    border-radius: 50px;
    background-color: white;
    color: black;
    text-decoration: none;
}
@media (max-width:62.5em){
    .button{
        margin-left:39%;
        font-size: 150%;
        margin-top: 3%;
        padding: 1% 5%;
        border-radius: 50px;
        background-color: white;
        color: black;
        text-decoration: none;
    }
    } 
@media (max-width:53.125em){
    .button{
        margin-left:37.5%;
        font-size: 150%;
        margin-top: 3%;
        padding: 1% 5%;
        border-radius: 50px;
        background-color: white;
        color: black;
        text-decoration: none;
    }
    } 
    @media (max-width:31.875em){
    .button{
    margin-left:36%;
    font-size: 150%;
    margin-top: 3%;
    padding: 1% 5%;
    border-radius: 50px;
    background-color: white;
    color: black;
    text-decoration: none;
    }
    }
    @media (max-width:26em){
    .button{
    margin-left:34.9%;
    font-size: 150%;
    margin-top: 3%;
    padding: 1% 5%;
    border-radius: 50px;
    background-color: white;
    color: black;
    text-decoration: none;
    }
    }
    @media (max-width:21.875em){
    .button{
    margin-left:33.1%;
    font-size: 150%;
    margin-top: 3%;
    padding: 1% 5%;
    border-radius: 50px;
    background-color: white;
    color: black;
    text-decoration: none;
    }
    }    
/* after header */

.africa{
    /* position: relative; */
    margin-top: 50px;
    /* background-color: white; */
text-align: center;
text-transform: uppercase;

}
.heading3{
    color: blue;
    font-size: 120%;
   margin: 2% 4%;
    margin-top: 10%;
}
.information{
margin: 0% 4%;
    /* width:30%; */
}
.head{
    color: blue;
font-size: 120%;
text-transform: capitalize;
margin: 2% 4%;

}
.paragraph2{
    /* width: 600px; */
    margin: 2% 4%;

}
/* pics */

    .pics{
        float: right;
    }
  
    @media (max-width:55.625em){ 
    .pics{
    float: none;
    margin-top: -2rem;
    margin-left: 20%;        
    }
    }
    @media (max-width:51.25em){ 
    .pics{
    margin-left: 18%;        
    }
    }
    @media (max-width:47.5em){ 
    .pics{
    float: none;
    margin-left: 16.4%;
    }
    }
    @media (max-width:45.625em){ 
    .pics{
    float: none;
    margin-left: 14.5%;
    }
    }
    @media (max-width:43.125em){ 
    .pics{
    float: none;
    margin-left: 12.5%;
    }
    }
    @media (max-width:40.5em){ 
    .pics{
    float: none;
    margin-left: 10%;
    }
    }
@media (max-width:38.75em){
    .pics{
    float: none;
    margin-left: 10.5%;
    }
    }
    @media (max-width:35.85em){
    .pics{
    float: none;
    margin-left: 6.5%;
    }
    }
    @media (max-width:33.75em){
    .pics{
    float: none;
    margin-left: 6.5%;
    }
    }
    @media (max-width:31.25em){
    .pics{
    float: none;
    margin-left:3%;
    }
    }
    @media (max-width:29.375em){
    .pics{
    float: none;
    margin-left:1%;
    font-size: 10% !important;
    }
    }
    @media (max-width:27.5em){
    .pics{
    float: none;
    margin-left:-3%;
    }
    }
    @media (max-width:26.25em){
    .pics{
    float: none;
    margin-left:6%;
    }
    }
    @media (max-width:23.75em){
    .pics{
    float: none;
    margin-left:2.5%;
    }
    }
    @media (max-width:21.875em){
    .pics{
    float: none;
    margin-left:-3.5%;
    }
    }
    @media (max-width:20.5em){
    .pics{
    float: none;
    margin-left:-6%;
    }
    }                            
    .pic1{
    width: 18.75rem;
    height: 10.625rem;
    margin-top: 5rem;
    margin-right:-18rem;
    /* left: 14.5rem; */
    position: relative;
    left: 3rem;
    top: 6rem;
    }
@media (max-width:33.75em){
.pic1{
    width: 17rem;
    height: 9rem;
    margin-top: 5rem;
    margin-right:-18rem;
    position: relative;
    left: 3rem;
    top: 6rem;
    }
    }
@media (max-width:26.25em){
.pic1{
    width: 14rem;
    height: 8rem;
    margin-top: 5rem;
    margin-right:-18rem;
    position: relative;
    left: 3rem;
    top: 6rem;
    }
    }
.pic1:hover{
    border: 5px solid green !important;
z-index: 10;
}
.pic2{
    width: 18.75rem;
    height: 10.625rem;
    left: 9.5rem;
    /* margin-left: -1rem; */
    position: relative;
top: 15.5rem;
z-index: 1;
}
.pic2:hover{
    border: 5px solid rgb(0, 0, 255) !important;
z-index: 20;
}
@media (max-width:33.75em){    
.pic2{
    width: 17rem;
    height: 9rem;
    left: 11rem;
    position: relative;
    top: 15.5rem;
    z-index: 1;
}
}
@media (max-width:26.25em){    
.pic2{
    width: 14rem;
    height: 8rem;
    left: 12rem;
    position: relative;
    top: 14rem;
    z-index: 1;
}
}
.pic3{
    width: 18.75rem;
    height: 10.625rem;
    position: relative;
left: -2rem;
/* height: 150px; */
top:7rem;
/* margin-left: -1rem; */
}
@media (max-width:33.75em){        
.pic3{
width: 17rem !important;
height: 9rem;
position: relative;
left: 2rem !important;
top:7rem;
}
}
@media (max-width:26.25em){        
    .pic3{
    width: 14rem !important;
    height: 8rem !important;
    position: relative;
    left: 3rem !important;
    top:7rem;
    }
    }
.pic3:hover{
    border: 5px solid rgb(0, 0, 255) !important;
z-index: 10;
}
.page{
    width: 50%;
    font-size: 115%;
}
@media (max-width:55.625em){
.page{
    width: 75%;
    margin: auto;
    margin-top: 18rem;
    }
    }
.heading5{
position: relative;
top: -330px !important;
font-size: 45px;
right: 30px;
text-transform: uppercase;
text-align: center;
/* color: rgb(3, 3, 247);     */
}

.slide-type{
    position: relative;
    top: -260px;
margin: auto;
    /* left: 200px; */
    width: 700px;
    text-align: left;
    font-size: 170%;
    /* color: ; */
}

/* cards */
.cards-heading{
    text-align: center;
    margin-bottom: 3rem;
}
.cards{
    margin-top: 5rem;
}
.icon{
    color: green;
    }
.card-1{
width: 17rem;
margin-left: 10%;
height: 18rem;
text-align: center;
box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); 
float: left;
}
@media (max-width:55.625em){
.card-1{
width: 17rem;
margin-left: 7%;
height: 18rem;
text-align: center;
box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); 
float: left;
}
}
@media (max-width:51.875em){
.card-1{
    margin-left: 13%;
}
}
@media (max-width:47.5em){
.card-1{
    margin-left: 10%;
}
}
@media (max-width:38.75em){
.card-1{
    margin-left: 10%;
    }
    }
@media (max-width:33.75em){
.card-1{
    margin-left: 10%;
    }
    }
@media (max-width:33.75em){
.card-1{
margin-left: 7%;
    }
    }
@media (max-width:31.25em){
.card-1{
margin-left:27%;
width: 19rem;
height: 20rem;
font-size: 120%;
padding:0 .5rem;
    }
    }
@media (max-width:28.75em){
.card-1{
margin-left: 25%;
}
    }
@media (max-width:26em){
.card-1{
margin-left: 22%;
    }
    }
@media (max-width:23.5em){
.card-1{
margin-left: 19%;
}
}
@media (max-width:21.25em){
.card-1{
margin-left: 15%;
}
}
.cardss{
transition: all.3s;
}
.cardss:hover{
transform: translateY(-1.5rem) scale(1.03);
}
.icon{
    margin-top: 2.5rem;
    font-size: 2rem;
}
.card-btn{
    border-radius: 5rem;
    background-color: rgb(3, 126, 3);
    color: #fff;
    /* border: none; */
}
.card-2{
    width: 17rem;
    margin-left: 9.7%;
    height: 18rem;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); 
    float: left !important;    
}
@media (max-width:79.375em){
.card-2{
    width: 17rem;
    margin-left: 7.7%;
    height: 18rem;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); 
    float: left !important;    
}
}
@media (max-width:76.625em){
.card-2{
    width: 17rem;
    margin-left: 5.5%;
    height: 18rem;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); 
    float: left !important;    
}
}
@media (max-width:72.5em){
.card-2{
    width: 17rem;
    margin-left: 4%;
    height: 18rem;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); 
    float: left !important;    
}
}
@media (max-width:69.875em){
.card-2{
    width: 17rem;
    margin-left: 3%;
    height: 18rem;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); 
    float: left !important;    
}
}
@media (max-width:68.75em){
.card-2{
    width: 17rem;
    margin-left: 9.5%;
    height: 18rem;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); 
    float: left !important;    
}
}
@media (max-width:65em){
.card-2{
    margin-left: 7.5%;
}
}
@media (max-width:61.875em){
.card-2{
    margin-left: 6%;
}
}
@media (max-width:58.75em){
.card-2{
    margin-left: 4%;
}
}
@media (max-width:55.625em){
.card-2{
    margin-left: 5.5%;
}
}
@media (max-width:52.5em){
.card-2{
    margin-left: 4%;
}
}
@media (max-width:51.875em){
.card-2{
    margin-left: 19%;
}
}
@media (max-width:42.5em){
.card-2{
    margin-left: 14%;
}
}
@media (max-width:39.375em){
.card-2{
    margin-left: 9%;
}
}
@media (max-width:38.75em){
.card-2{
    margin-left: 15%;
    }
    }
@media (max-width:36.25em){
.card-2{
    margin-left: 11%;
    }
    }
@media (max-width:33.125em){
.card-2{
    margin-left: 6.5%;
    }
    }

    @media (max-width:31.25em){
        .card-2{
   margin-top: 5rem;
            margin-left:27%;
        width: 19rem;
        height: 20rem;
        font-size: 120%;
        padding:0 .5rem;
            }
            }
        @media (max-width:28.75em){
        .card-2{
        margin-left: 25%;
        }
            }
        @media (max-width:26em){
        .card-2{
        margin-left: 22%;
            }
            }
        @media (max-width:23.5em){
        .card-2{
        margin-left: 19%;
        }
        }
        @media (max-width:21.25em){
        .card-2{
        margin-left: 15%;
        }
        }
/* 
@media (max-width:31.25em){
.card-2{
margin-top: 5rem;
margin-left: 29%;
}
    }
@media (max-width:28.75em){
.card-2{
margin-left: 27% !important;
}
}
@media (max-width:26em){
.card-2{
margin-left: 24.7% !important;
}
}
@media (max-width:23.5em){
.card-2{
margin-left: 23% !important;
    }
    }
@media (max-width:21.25em){
.card-2{
margin-left: 19% !important;
    }
    } */
.card-3{
width: 17rem;
height: 18rem;
text-align: center;
box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); 
float: right;
margin-right: 10%;
}
@media (max-width:55.625em){
.card-3{
margin-right: 7%;
}
}
@media (max-width:53.125em){
.card-3{
margin-right: 7%;
}
}
@media (max-width:51.875em){
.card-3{
    float: none;
    margin-top: 25rem;
    margin-left: 13%;
}
}
@media (max-width:47.5em){
.card-3{
    float: none;
    margin-top: 25rem;
    margin-left: 10%;
    }
    }
@media (max-width:38.75em){
.card-3{
    float: none;
    margin-top: 25rem;
    margin-left: 10%;
    }
    }
@media (max-width:33.75em){
.card-3{
    margin-left: 7% !important;
    }
    }
    @media (max-width:31.25em){
    .card-3{
    margin-top: 53rem !important;
    margin-left:27% !important;
    width: 19rem;
    height: 20rem;
    font-size: 120%;
    padding:0 .5rem;
        }
        }
    @media (max-width:28.75em){
    .card-3{
    margin-left: 25% !important;
    }
        }
    @media (max-width:26em){
    .card-3{
    margin-left: 22% !important;
        }
        }
    @media (max-width:23.5em){
    .card-3{
    margin-left: 19% !important;
    }
    }
    @media (max-width:21.25em){
    .card-3{
    margin-left: 15% !important;
    }
    }      
/* Footer */

footer{
margin-top: 28rem;
background-color: rgb(53, 45, 45);
color:rgb(189, 176, 176) !important;
padding: 4rem;
height: 17rem !important;
padding-left: 5%;
}
li:hover{
    color: #fff;
cursor: pointer;
}
@media (max-width:51.875em){
    footer{
    font-size: 110%;
    margin-top: 7rem;
    background-color: rgb(53, 45, 45);
    color:rgb(189, 176, 176) !important;
    padding: 4rem;
    height: 25rem !important;
    padding-left: 5%;
    }
    }
@media (max-width:31.875em){
    footer{
    font-size: 110%;
    margin-top: 7rem;
    background-color: rgb(53, 45, 45);
    color:rgb(189, 176, 176) !important;
    padding: 4rem;
    height: 40rem !important;
    padding-left: 5%;
    }
    }         
    .footer-heading-2{
        color: #fff;
    }   
.side-1{
    width: 20%;
    float: left;
    text-align: center;
/* padding: 2rem; */
}
@media (max-width:40.75em){       
.side-1{
width: 30%;
float: left;
text-align: center;
}
}
@media (max-width:31.875em){       
.side-1{
width: 100%;
margin: auto;
margin-left: 3%;
float: left;
text-align: center;
}
}
@media (max-width:25.875em){       
.side-1{
width: 100%;
margin: auto;
margin-left: 4%;
float: left;
text-align: center;
}
}
@media (max-width:23.5em){       
.side-1{
width: 100%;
margin: auto;
margin-left: 5%;
float: left;
text-align: center;
}
}      
.side-2{
    width: 16%;
    float: left;
    list-style: none;
    margin-left: 08%;
    text-align: center;
    /* padding: 2rem; */
}
@media (max-width:40.75em){       
.side-2{
    width: 26%;
    float: left;
    list-style: none;
    margin-left: 08%;
    text-align: center;
    /* padding: 2rem; */
}   
}
@media (max-width:31.875em){       
.side-2{
    width: 100%;
    float: left;
    list-style: none;
    margin: auto;
    margin-left: 3%;
    margin-top: 1rem;
    text-align: center;
    }   
   }      
.side-3{
    width: 20%;
    list-style: none;
    margin-left: 5% !important;
    /* font-size: 30rem; */
text-align: center;
float: left;
}

@media (max-width:40.75em){       
    .side-3{
    width: 30%;
    list-style: none;
    margin-left: 6% !important;
    text-align: center;
    float: left;
    }
    }
@media (max-width:31.875em){       
    .side-3{
    width: 100%;
    list-style: none;
    margin-left: 3% !important;
    margin-top: 17rem !important;
    text-align: center;
    float: none;
    }
    }
.side-4{
    list-style: none;
    margin-left: 10% !important;
    /* font-size: 30rem; */
text-align: center;
float: left;
}
@media (max-width:40.75em){       
.side-4{
list-style: none;
margin-top: 5rem;
text-align: center;
position: relative;
left: -16.5rem;
    } 
  }
  @media (max-width:31.875em){       
  .side-4{
      width: 50%;
      /* margin: auto !important; */
  list-style: none;
  margin-top: 3rem;
  text-align: center;
position: relative;
left: 18%;
} 
    }