body{
    background-color: rgb(211, 211, 202);
}

/* Nav */

.navbar-brand{
    margin-left: 420px !important;
}
.navbar-brand,.nav-link{
    padding-left: 50px !important;
}


/* Header */
.header{
    background-image: url(../images/4.jpg) !important;
    background-size: cover;
}
.jungle{
    font-size: 400%;
    color: white;
    text-align: center;
    padding-top: 8%;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.paragraph{
    font-size: 300%;
    color:white;
    text-align: center;
    /* padding-top: 0%; */
    text-transform: capitalize;

}
.button{
    margin-left: 530px;
    font-size: 150%;
    margin-top: 3%;
    padding: 1% 5%;

    /* margin-top: 150px !important; */
    border-radius: 50px;
    /* border-style:initial; */
background-color: white;
color: black;
text-decoration: none;
}
/* after header */

.africa{
    /* position: relative; */
    margin-top: 50px;
    /* background-color: white; */
text-align: center;
text-transform: uppercase;

}
.heading3{
    color: blue;
    font-size: 120%;
   margin: 2% 4%;
    margin-top: 10%;
}
.information{
margin: 0% 4%;
    width: 600px;
}
.head{
    color: blue;
font-size: 120%;
text-transform: capitalize;
margin: 2% 4%;

}
.paragraph2{
    width: 600px;
    margin: 2% 4%;

}
.pic1{
    width: 300px;
    height: 170px;
    left: 140px;
position: relative;
top: 100px;
}
.pic1:hover{
    border: 5px solid rgb(0, 0, 255) !important;
}
.pic2{
    width: 300px;
    height: 170px;
    left: 80px;
    
    position: relative;
top: 120px;
}
.pic2:hover{
    border: 5px solid rgb(0, 0, 255) !important;

}
.pic3{
    width: 300px;
    height: 170px;
    position: relative;
left: 250px;
height: 150px;
top:80px;
}
.pic3:hover{
    border: 5px solid rgb(0, 0, 255) !important;

}
.page{
    float: left !important;
}


/* slides */


.heading5{
position: relative;
top: -330px !important;
font-size: 45px;
right: 30px;
text-transform: uppercase;
text-align: center;
/* color: rgb(3, 3, 247);     */
}

.slide-type{
    position: relative;
    top: -260px;
margin: auto;
    /* left: 200px; */
    width: 700px;
    text-align: left;
    font-size: 170%;
    /* color: ; */
}


/* Footer */

#footer{
    color: white !important;
 
}

#head{
    
    width: 300px;
    margin-left: 70px ;
}
.jungle-pic{
    width: 160px;
    height: 160px;
    margin-top: 10px;
    border-radius: 100%;
margin-right: 90px;
}

#info{
    text-align: left;
    width: 300px !important;
}
.text-uppercase{
font-size: 250% !important;
}
.list{
    margin-left: 30px;
    padding-left: 30px;
    margin-top: 10px;
    list-style: disc  !important;

}
.color{
    color: white !important;
text-decoration: none;
text-transform: capitalize;
}
.list-unstyled{
    width: 300px !important;
padding-left: 50px;
}
.par{
    margin-top: 25px;
}
.fimg{
    margin-top: 0%;
    width: 40px;
    margin-right: 20px;
    margin-left: 0%;
}
.icon{
color: green;
}
.icon2{
    color: blue;
}
.images{
    width: 50px;
    position: relative;
    top: -6px;
    left: -80px;
}
.images2{
    width: 33px;
    position: relative;
    left: -150px;
    top: -6px;
}
.images3{
    width: 35px;
    position: relative;
    left: -200px;
    top: -6px;
}
.images4{
    width: 35px;
    position: relative;
    left: -250px;
    top: -6px;
}
.span{
    position: relative;
   padding-left: 80px;
   color: white !important;
}
.images5{
    width: 50px;
position: relative;
right: 80px;
top: -5px;
}
.images6{
width: 50px;
position: relative;
/* right: 100px; */
top: -5px;
}
.images7{
    width: 50px;
    position: relative;
    right: -1000px;
    top: -55px;
}
.images8{
    width: 50px;
    position: relative;
    right: -920px;
    top: -55px;
}
.borde{
color: blue !important;
padding: 3px;
}
#borde{
    border-left: 2px solid blue;

}
#fdata{
 margin-top: 0%;
    padding-left: 100px;
    font-weight: 500;
    font-size: 23px;
}
.bord{
    margin-top: 20px !important;
}


/* Footer */


